<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848280063891-kkelj6o5bhm19tq6of1mbfvgttrue1t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848280063891-kkelj6o5bhm19tq6of1mbfvgttrue1t0</string>
	<key>API_KEY</key>
	<string>AIzaSyDh8haU252k-qSAry9pZ-d8l0VQEeR_7eI</string>
	<key>GCM_SENDER_ID</key>
	<string>848280063891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.knowWaste</string>
	<key>PROJECT_ID</key>
	<string>waste-wise-d88a7</string>
	<key>STORAGE_BUCKET</key>
	<string>waste-wise-d88a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848280063891:ios:80120e766ba01774c96266</string>
</dict>
</plist>